<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2017-10-17 16:43:54
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.cas.CasUserDao">

	<resultMap id="casUserResultMap" type="com.bluemobi.po.cas.CasUser">
		<id property="userId" column="USER_ID" jdbcType="DECIMAL" />
       <result property="userGroupId" column="USER_GROUP_ID" jdbcType="DECIMAL"/>
       <result property="userLvId" column="USER_LV_ID" jdbcType="DECIMAL"/>
       <result property="username" column="USERNAME" jdbcType="VARCHAR"/>
       <result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
       <result property="freeze" column="FREEZE" jdbcType="VARCHAR"/>
       <result property="isthere" column="ISTHERE" jdbcType="DECIMAL"/>
       <result property="thirdid" column="THIRDID" jdbcType="VARCHAR"/>
       <result property="salt" column="SALT" jdbcType="VARCHAR"/>
       <result property="encrypt" column="ENCRYPT" jdbcType="VARCHAR"/>
       <result property="tel" column="TEL" jdbcType="VARCHAR"/>
       <result property="phone" column="PHONE" jdbcType="VARCHAR"/>
       <result property="verifiedphone" column="VERIFIEDPHONE" jdbcType="DECIMAL"/>
       <result property="email" column="EMAIL" jdbcType="VARCHAR"/>
       <result property="verifiedemail" column="VERIFIEDEMAIL" jdbcType="DECIMAL"/>
       <result property="nickname" column="NICKNAME" jdbcType="VARCHAR"/>
       <result property="realname" column="REALNAME" jdbcType="VARCHAR"/>
       <result property="idcard" column="IDCARD" jdbcType="VARCHAR"/>
       <result property="gender" column="GENDER" jdbcType="DECIMAL"/>
       <result property="avatar" column="AVATAR" jdbcType="VARCHAR"/>
       <result property="deviceType" column="DEVICE_TYPE" jdbcType="VARCHAR"/>
       <result property="deviceNo" column="DEVICE_NO" jdbcType="VARCHAR"/>
       <result property="channelid" column="CHANNELID" jdbcType="VARCHAR"/>
       <result property="status" column="STATUS" jdbcType="DECIMAL"/>
       <result property="isVerify" column="IS_VERIFY" jdbcType="DECIMAL"/>
       <result property="isDel" column="IS_DEL" jdbcType="DECIMAL"/>
       <result property="lastLoginTime" column="LAST_LOGIN_TIME" jdbcType="VARCHAR"/>
       <result property="lastLoginIp" column="LAST_LOGIN_IP" jdbcType="VARCHAR"/>
       <result property="banEtime" column="BAN_ETIME" jdbcType="VARCHAR"/>
       <result property="ctime" column="CTIME" jdbcType="VARCHAR"/>
       <result property="mtime" column="MTIME" jdbcType="VARCHAR"/>
       <result property="telphone" column="TELPHONE" jdbcType="VARCHAR"/>
       <result property="numberegral" column="NUMBEREGRAL" jdbcType="DECIMAL"/>
       <result property="signature" column="SIGNATURE" jdbcType="VARCHAR"/>
       <result property="type" column="TYPE" jdbcType="DECIMAL"/>
       <result property="headportraitpath" column="HEADPORTRAITPATH" jdbcType="VARCHAR"/>
       <result property="mobile" column="MOBILE" jdbcType="VARCHAR"/>
       <result property="thirdlognumberype" column="THIRDLOGNUMBERYPE" jdbcType="VARCHAR"/>
       <result property="isrecycle" column="ISRECYCLE" jdbcType="DECIMAL"/>
       <result property="creatorid" column="CREATORID" jdbcType="DECIMAL"/>
       <result property="modifierid" column="MODIFIERID" jdbcType="DECIMAL"/>
       <result property="account" column="ACCOUNT" jdbcType="VARCHAR"/>
       <result property="isfreeze" column="ISFREEZE" jdbcType="DECIMAL"/>
       <result property="longitude" column="LONGITUDE" jdbcType="VARCHAR"/>
       <result property="latitude" column="LATITUDE" jdbcType="VARCHAR"/>
       <result property="storeId" column="STORE_ID" jdbcType="DECIMAL"/>
       <result property="isHaveStore" column="IS_HAVE_STORE" jdbcType="DECIMAL"/>
       <result property="address" column="ADDRESS" jdbcType="VARCHAR"/>
       <result property="birthday" column="BIRTHDAY" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="casUserResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="casUserResultMap"></resultMap>
	
	<!-- 插入一条数据，需要在数据库中，创建表相关的序列，为了业务需求返回主键，不建触发器 -->
	<insert id="insert" parameterType="com.bluemobi.po.cas.CasUser">
		insert into CAS_USER (
			USER_ID,
			USER_GROUP_ID,
			USER_LV_ID,
			USERNAME,
			PASSWORD,
			FREEZE,
			ISTHERE,
			THIRDID,
			SALT,
			ENCRYPT,
			TEL,
			PHONE,
			VERIFIEDPHONE,
			EMAIL,
			VERIFIEDEMAIL,
			NICKNAME,
			REALNAME,
			IDCARD,
			GENDER,
			AVATAR,
			DEVICE_TYPE,
			DEVICE_NO,
			CHANNELID,
			STATUS,
			IS_VERIFY,
			IS_DEL,
			LAST_LOGIN_TIME,
			LAST_LOGIN_IP,
			BAN_ETIME,
			CTIME,
			MTIME,
			TELPHONE,
			NUMBEREGRAL,
			SIGNATURE,
			TYPE,
			HEADPORTRAITPATH,
			MOBILE,
			THIRDLOGNUMBERYPE,
			ISRECYCLE,
			CREATORID,
			MODIFIERID,
			ACCOUNT,
			ISFREEZE,
			LONGITUDE,
			LATITUDE,
			STORE_ID,
			IS_HAVE_STORE,
			ADDRESS,
			BIRTHDAY
		)values (
			 #{userId,jdbcType=DECIMAL},
			 #{userGroupId,jdbcType=DECIMAL},
			 #{userLvId,jdbcType=DECIMAL},
			 #{username,jdbcType=VARCHAR},
			 #{password,jdbcType=VARCHAR},
			 #{freeze,jdbcType=VARCHAR},
			 #{isthere,jdbcType=DECIMAL},
			 #{thirdid,jdbcType=VARCHAR},
			 #{salt,jdbcType=VARCHAR},
			 #{encrypt,jdbcType=VARCHAR},
			 #{tel,jdbcType=VARCHAR},
			 #{phone,jdbcType=VARCHAR},
			 #{verifiedphone,jdbcType=DECIMAL},
			 #{email,jdbcType=VARCHAR},
			 #{verifiedemail,jdbcType=DECIMAL},
			 #{nickname,jdbcType=VARCHAR},
			 #{realname,jdbcType=VARCHAR},
			 #{idcard,jdbcType=VARCHAR},
			 #{gender,jdbcType=DECIMAL},
			 #{avatar,jdbcType=VARCHAR},
			 #{deviceType,jdbcType=VARCHAR},
			 #{deviceNo,jdbcType=VARCHAR},
			 #{channelid,jdbcType=VARCHAR},
			 #{status,jdbcType=DECIMAL},
			 #{isVerify,jdbcType=DECIMAL},
			 #{isDel,jdbcType=DECIMAL},
			 #{lastLoginTime,jdbcType=VARCHAR},
			 #{lastLoginIp,jdbcType=VARCHAR},
			 #{banEtime,jdbcType=VARCHAR},
			 #{ctime,jdbcType=VARCHAR},
			 #{mtime,jdbcType=VARCHAR},
			 #{telphone,jdbcType=VARCHAR},
			 #{numberegral,jdbcType=DECIMAL},
			 #{signature,jdbcType=VARCHAR},
			 #{type,jdbcType=DECIMAL},
			 #{headportraitpath,jdbcType=VARCHAR},
			 #{mobile,jdbcType=VARCHAR},
			 #{thirdlognumberype,jdbcType=VARCHAR},
			 #{isrecycle,jdbcType=DECIMAL},
			 #{creatorid,jdbcType=DECIMAL},
			 #{modifierid,jdbcType=DECIMAL},
			 #{account,jdbcType=VARCHAR},
			 #{isfreeze,jdbcType=DECIMAL},
			 #{longitude,jdbcType=VARCHAR},
			 #{latitude,jdbcType=VARCHAR},
			 #{storeId,jdbcType=DECIMAL},
			 #{isHaveStore,jdbcType=DECIMAL},
			 #{address,jdbcType=VARCHAR},
			 #{birthday,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 根据主键查询 修改条目相关信息-->
	<update id="update" parameterType="com.bluemobi.po.cas.CasUser">
		update CAS_USER
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=DECIMAL},
			</if>
			<if test="userGroupId != null">
				USER_GROUP_ID = #{userGroupId,jdbcType=DECIMAL},
			</if>
			<if test="userLvId != null">
				USER_LV_ID = #{userLvId,jdbcType=DECIMAL},
			</if>
			<if test="username != null">
				USERNAME = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				PASSWORD = #{password,jdbcType=VARCHAR},
			</if>
			<if test="freeze != null">
				FREEZE = #{freeze,jdbcType=VARCHAR},
			</if>
			<if test="isthere != null">
				ISTHERE = #{isthere,jdbcType=DECIMAL},
			</if>
			<if test="thirdid != null">
				THIRDID = #{thirdid,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				SALT = #{salt,jdbcType=VARCHAR},
			</if>
			<if test="encrypt != null">
				ENCRYPT = #{encrypt,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				TEL = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				PHONE = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="verifiedphone != null">
				VERIFIEDPHONE = #{verifiedphone,jdbcType=DECIMAL},
			</if>
			<if test="email != null">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="verifiedemail != null">
				VERIFIEDEMAIL = #{verifiedemail,jdbcType=DECIMAL},
			</if>
			<if test="nickname != null">
				NICKNAME = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				REALNAME = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="idcard != null">
				IDCARD = #{idcard,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				GENDER = #{gender,jdbcType=DECIMAL},
			</if>
			<if test="avatar != null">
				AVATAR = #{avatar,jdbcType=VARCHAR},
			</if>
			<if test="deviceType != null">
				DEVICE_TYPE = #{deviceType,jdbcType=VARCHAR},
			</if>
			<if test="deviceNo != null">
				DEVICE_NO = #{deviceNo,jdbcType=VARCHAR},
			</if>
			<if test="channelid != null">
				CHANNELID = #{channelid,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=DECIMAL},
			</if>
			<if test="isVerify != null">
				IS_VERIFY = #{isVerify,jdbcType=DECIMAL},
			</if>
			<if test="isDel != null">
				IS_DEL = #{isDel,jdbcType=DECIMAL},
			</if>
			<if test="lastLoginTime != null">
				LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginIp != null">
				LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="banEtime != null">
				BAN_ETIME = #{banEtime,jdbcType=VARCHAR},
			</if>
			<if test="ctime != null">
				CTIME = #{ctime,jdbcType=VARCHAR},
			</if>
			<if test="mtime != null">
				MTIME = #{mtime,jdbcType=VARCHAR},
			</if>
			<if test="telphone != null">
				TELPHONE = #{telphone,jdbcType=VARCHAR},
			</if>
			<if test="numberegral != null">
				NUMBEREGRAL = #{numberegral,jdbcType=DECIMAL},
			</if>
			<if test="signature != null">
				SIGNATURE = #{signature,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=DECIMAL},
			</if>
			<if test="headportraitpath != null">
				HEADPORTRAITPATH = #{headportraitpath,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="thirdlognumberype != null">
				THIRDLOGNUMBERYPE = #{thirdlognumberype,jdbcType=VARCHAR},
			</if>
			<if test="isrecycle != null">
				ISRECYCLE = #{isrecycle,jdbcType=DECIMAL},
			</if>
			<if test="creatorid != null">
				CREATORID = #{creatorid,jdbcType=DECIMAL},
			</if>
			<if test="modifierid != null">
				MODIFIERID = #{modifierid,jdbcType=DECIMAL},
			</if>
			<if test="account != null">
				ACCOUNT = #{account,jdbcType=VARCHAR},
			</if>
			<if test="isfreeze != null">
				ISFREEZE = #{isfreeze,jdbcType=DECIMAL},
			</if>
			<if test="longitude != null">
				LONGITUDE = #{longitude,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				LATITUDE = #{latitude,jdbcType=VARCHAR},
			</if>
			<if test="storeId != null">
				STORE_ID = #{storeId,jdbcType=DECIMAL},
			</if>
			<if test="isHaveStore != null">
				IS_HAVE_STORE = #{isHaveStore,jdbcType=DECIMAL},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				BIRTHDAY = #{birthday,jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			 USER_ID=#{userId} 
		</where>
	</update>

	<!-- 根据表主键删除条目，确保逻辑删除字段为 is_del（0：未删除，1：已删除） -->
	<update id="delete" parameterType="map">
		update CAS_USER 
		SET
			is_del = 1	 
	   where 1=1
	   and USER_ID=#{userId} 
	</update>

	<!-- 根据主键查询 相关数据信息-->
	<select id="selectObject" parameterType="map" resultMap="casUserResultMap">
		select 
		USER_ID,
		USER_GROUP_ID,
		USER_LV_ID,
		USERNAME,
		PASSWORD,
		FREEZE,
		ISTHERE,
		THIRDID,
		SALT,
		ENCRYPT,
		TEL,
		PHONE,
		VERIFIEDPHONE,
		EMAIL,
		VERIFIEDEMAIL,
		NICKNAME,
		REALNAME,
		IDCARD,
		GENDER,
		AVATAR,
		DEVICE_TYPE,
		DEVICE_NO,
		CHANNELID,
		STATUS,
		IS_VERIFY,
		IS_DEL,
		LAST_LOGIN_TIME,
		LAST_LOGIN_IP,
		BAN_ETIME,
		CTIME,
		MTIME,
		TELPHONE,
		NUMBEREGRAL,
		SIGNATURE,
		TYPE,
		HEADPORTRAITPATH,
		MOBILE,
		THIRDLOGNUMBERYPE,
		ISRECYCLE,
		CREATORID,
		MODIFIERID,
		ACCOUNT,
		ISFREEZE,
		LONGITUDE,
		LATITUDE,
		STORE_ID,
		IS_HAVE_STORE,
		ADDRESS,
		BIRTHDAY
		from CAS_USER
		where 
	    USER_ID=#{userId} 
	</select>
	
	<!-- 根据相关字段 查询符合条件的数据信息 返回相关集合 -->
	<select id="selectObjectList" parameterType="map" resultMap="casUserResultMap">
		select 
		USER_ID,
		USER_GROUP_ID,
		USER_LV_ID,
		USERNAME,
		PASSWORD,
		FREEZE,
		ISTHERE,
		THIRDID,
		SALT,
		ENCRYPT,
		TEL,
		PHONE,
		VERIFIEDPHONE,
		EMAIL,
		VERIFIEDEMAIL,
		NICKNAME,
		REALNAME,
		IDCARD,
		GENDER,
		AVATAR,
		DEVICE_TYPE,
		DEVICE_NO,
		CHANNELID,
		STATUS,
		IS_VERIFY,
		IS_DEL,
		LAST_LOGIN_TIME,
		LAST_LOGIN_IP,
		BAN_ETIME,
		CTIME,
		MTIME,
		TELPHONE,
		NUMBEREGRAL,
		SIGNATURE,
		TYPE,
		HEADPORTRAITPATH,
		MOBILE,
		THIRDLOGNUMBERYPE,
		ISRECYCLE,
		CREATORID,
		MODIFIERID,
		ACCOUNT,
		ISFREEZE,
		LONGITUDE,
		LATITUDE,
		STORE_ID,
		IS_HAVE_STORE,
		ADDRESS,
		BIRTHDAY
		from CAS_USER
	   <where>
	     <if test="userId != null">
	        USER_ID=#{userId}
	     </if>
	     <if test="userGroupId != null">
	       and USER_GROUP_ID=#{userGroupId}
	     </if>
	     <if test="userLvId != null">
	       and USER_LV_ID=#{userLvId}
	     </if>
	     <if test="username != null">
	       and USERNAME=#{username}
	     </if>
	     <if test="password != null">
	       and PASSWORD=#{password}
	     </if>
	     <if test="freeze != null">
	       and FREEZE=#{freeze}
	     </if>
	     <if test="isthere != null">
	       and ISTHERE=#{isthere}
	     </if>
	     <if test="thirdid != null">
	       and THIRDID=#{thirdid}
	     </if>
	     <if test="salt != null">
	       and SALT=#{salt}
	     </if>
	     <if test="encrypt != null">
	       and ENCRYPT=#{encrypt}
	     </if>
	     <if test="tel != null">
	       and TEL=#{tel}
	     </if>
	     <if test="phone != null">
	       and PHONE=#{phone}
	     </if>
	     <if test="verifiedphone != null">
	       and VERIFIEDPHONE=#{verifiedphone}
	     </if>
	     <if test="email != null">
	       and EMAIL=#{email}
	     </if>
	     <if test="verifiedemail != null">
	       and VERIFIEDEMAIL=#{verifiedemail}
	     </if>
	     <if test="nickname != null">
	       and NICKNAME=#{nickname}
	     </if>
	     <if test="realname != null">
	       and REALNAME=#{realname}
	     </if>
	     <if test="idcard != null">
	       and IDCARD=#{idcard}
	     </if>
	     <if test="gender != null">
	       and GENDER=#{gender}
	     </if>
	     <if test="avatar != null">
	       and AVATAR=#{avatar}
	     </if>
	     <if test="deviceType != null">
	       and DEVICE_TYPE=#{deviceType}
	     </if>
	     <if test="deviceNo != null">
	       and DEVICE_NO=#{deviceNo}
	     </if>
	     <if test="channelid != null">
	       and CHANNELID=#{channelid}
	     </if>
	     <if test="status != null">
	       and STATUS=#{status}
	     </if>
	     <if test="isVerify != null">
	       and IS_VERIFY=#{isVerify}
	     </if>
	     <if test="isDel != null">
	       and IS_DEL=#{isDel}
	     </if>
	     <if test="lastLoginTime != null">
	       and LAST_LOGIN_TIME=#{lastLoginTime}
	     </if>
	     <if test="lastLoginIp != null">
	       and LAST_LOGIN_IP=#{lastLoginIp}
	     </if>
	     <if test="banEtime != null">
	       and BAN_ETIME=#{banEtime}
	     </if>
	     <if test="ctime != null">
	       and CTIME=#{ctime}
	     </if>
	     <if test="mtime != null">
	       and MTIME=#{mtime}
	     </if>
	     <if test="telphone != null">
	       and TELPHONE=#{telphone}
	     </if>
	     <if test="numberegral != null">
	       and NUMBEREGRAL=#{numberegral}
	     </if>
	     <if test="signature != null">
	       and SIGNATURE=#{signature}
	     </if>
	     <if test="type != null">
	       and TYPE=#{type}
	     </if>
	     <if test="headportraitpath != null">
	       and HEADPORTRAITPATH=#{headportraitpath}
	     </if>
	     <if test="mobile != null">
	       and MOBILE=#{mobile}
	     </if>
	     <if test="thirdlognumberype != null">
	       and THIRDLOGNUMBERYPE=#{thirdlognumberype}
	     </if>
	     <if test="isrecycle != null">
	       and ISRECYCLE=#{isrecycle}
	     </if>
	     <if test="creatorid != null">
	       and CREATORID=#{creatorid}
	     </if>
	     <if test="modifierid != null">
	       and MODIFIERID=#{modifierid}
	     </if>
	     <if test="account != null">
	       and ACCOUNT=#{account}
	     </if>
	     <if test="isfreeze != null">
	       and ISFREEZE=#{isfreeze}
	     </if>
	     <if test="longitude != null">
	       and LONGITUDE=#{longitude}
	     </if>
	     <if test="latitude != null">
	       and LATITUDE=#{latitude}
	     </if>
	     <if test="storeId != null">
	       and STORE_ID=#{storeId}
	     </if>
	     <if test="isHaveStore != null">
	       and IS_HAVE_STORE=#{isHaveStore}
	     </if>
	     <if test="address != null">
	       and ADDRESS=#{address}
	     </if>
	     <if test="birthday != null">
	       and BIRTHDAY=#{birthday}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
		select 
			USER_ID,
			USER_GROUP_ID,
			USER_LV_ID,
			USERNAME,
			PASSWORD,
			FREEZE,
			ISTHERE,
			THIRDID,
			SALT,
			ENCRYPT,
			TEL,
			PHONE,
			VERIFIEDPHONE,
			EMAIL,
			VERIFIEDEMAIL,
			NICKNAME,
			REALNAME,
			IDCARD,
			GENDER,
			AVATAR,
			DEVICE_TYPE,
			DEVICE_NO,
			CHANNELID,
			STATUS,
			IS_VERIFY,
			IS_DEL,
			LAST_LOGIN_TIME,
			LAST_LOGIN_IP,
			BAN_ETIME,
			CTIME,
			MTIME,
			TELPHONE,
			NUMBEREGRAL,
			SIGNATURE,
			TYPE,
			HEADPORTRAITPATH,
			MOBILE,
			THIRDLOGNUMBERYPE,
			ISRECYCLE,
			CREATORID,
			MODIFIERID,
			ACCOUNT,
			ISFREEZE,
			LONGITUDE,
			LATITUDE,
			STORE_ID,
			IS_HAVE_STORE,
			ADDRESS,
			BIRTHDAY
		from CAS_USER
		where 
	    USER_ID=#{userId} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
		select 
	    USER_ID,
	    USER_GROUP_ID,
	    USER_LV_ID,
	    USERNAME,
	    PASSWORD,
	    FREEZE,
	    ISTHERE,
	    THIRDID,
	    SALT,
	    ENCRYPT,
	    TEL,
	    PHONE,
	    VERIFIEDPHONE,
	    EMAIL,
	    VERIFIEDEMAIL,
	    NICKNAME,
	    REALNAME,
	    IDCARD,
	    GENDER,
	    AVATAR,
	    DEVICE_TYPE,
	    DEVICE_NO,
	    CHANNELID,
	    STATUS,
	    IS_VERIFY,
	    IS_DEL,
	    LAST_LOGIN_TIME,
	    LAST_LOGIN_IP,
	    BAN_ETIME,
	    CTIME,
	    MTIME,
	    TELPHONE,
	    NUMBEREGRAL,
	    SIGNATURE,
	    TYPE,
	    HEADPORTRAITPATH,
	    MOBILE,
	    THIRDLOGNUMBERYPE,
	    ISRECYCLE,
	    CREATORID,
	    MODIFIERID,
	    ACCOUNT,
	    ISFREEZE,
	    LONGITUDE,
	    LATITUDE,
	    STORE_ID,
	    IS_HAVE_STORE,
	    ADDRESS,
	    BIRTHDAY
		from CAS_USER
	   <where>
	     <if test="userId != null">
	        USER_ID=#{userId}
	     </if>
	     <if test="userGroupId != null">
	       and USER_GROUP_ID=#{userGroupId}
	     </if>
	     <if test="userLvId != null">
	       and USER_LV_ID=#{userLvId}
	     </if>
	     <if test="username != null">
	       and USERNAME=#{username}
	     </if>
	     <if test="password != null">
	       and PASSWORD=#{password}
	     </if>
	     <if test="freeze != null">
	       and FREEZE=#{freeze}
	     </if>
	     <if test="isthere != null">
	       and ISTHERE=#{isthere}
	     </if>
	     <if test="thirdid != null">
	       and THIRDID=#{thirdid}
	     </if>
	     <if test="salt != null">
	       and SALT=#{salt}
	     </if>
	     <if test="encrypt != null">
	       and ENCRYPT=#{encrypt}
	     </if>
	     <if test="tel != null">
	       and TEL=#{tel}
	     </if>
	     <if test="phone != null">
	       and PHONE=#{phone}
	     </if>
	     <if test="verifiedphone != null">
	       and VERIFIEDPHONE=#{verifiedphone}
	     </if>
	     <if test="email != null">
	       and EMAIL=#{email}
	     </if>
	     <if test="verifiedemail != null">
	       and VERIFIEDEMAIL=#{verifiedemail}
	     </if>
	     <if test="nickname != null">
	       and NICKNAME=#{nickname}
	     </if>
	     <if test="realname != null">
	       and REALNAME=#{realname}
	     </if>
	     <if test="idcard != null">
	       and IDCARD=#{idcard}
	     </if>
	     <if test="gender != null">
	       and GENDER=#{gender}
	     </if>
	     <if test="avatar != null">
	       and AVATAR=#{avatar}
	     </if>
	     <if test="deviceType != null">
	       and DEVICE_TYPE=#{deviceType}
	     </if>
	     <if test="deviceNo != null">
	       and DEVICE_NO=#{deviceNo}
	     </if>
	     <if test="channelid != null">
	       and CHANNELID=#{channelid}
	     </if>
	     <if test="status != null">
	       and STATUS=#{status}
	     </if>
	     <if test="isVerify != null">
	       and IS_VERIFY=#{isVerify}
	     </if>
	     <if test="isDel != null">
	       and IS_DEL=#{isDel}
	     </if>
	     <if test="lastLoginTime != null">
	       and LAST_LOGIN_TIME=#{lastLoginTime}
	     </if>
	     <if test="lastLoginIp != null">
	       and LAST_LOGIN_IP=#{lastLoginIp}
	     </if>
	     <if test="banEtime != null">
	       and BAN_ETIME=#{banEtime}
	     </if>
	     <if test="ctime != null">
	       and CTIME=#{ctime}
	     </if>
	     <if test="mtime != null">
	       and MTIME=#{mtime}
	     </if>
	     <if test="telphone != null">
	       and TELPHONE=#{telphone}
	     </if>
	     <if test="numberegral != null">
	       and NUMBEREGRAL=#{numberegral}
	     </if>
	     <if test="signature != null">
	       and SIGNATURE=#{signature}
	     </if>
	     <if test="type != null">
	       and TYPE=#{type}
	     </if>
	     <if test="headportraitpath != null">
	       and HEADPORTRAITPATH=#{headportraitpath}
	     </if>
	     <if test="mobile != null">
	       and MOBILE=#{mobile}
	     </if>
	     <if test="thirdlognumberype != null">
	       and THIRDLOGNUMBERYPE=#{thirdlognumberype}
	     </if>
	     <if test="isrecycle != null">
	       and ISRECYCLE=#{isrecycle}
	     </if>
	     <if test="creatorid != null">
	       and CREATORID=#{creatorid}
	     </if>
	     <if test="modifierid != null">
	       and MODIFIERID=#{modifierid}
	     </if>
	     <if test="account != null">
	       and ACCOUNT=#{account}
	     </if>
	     <if test="isfreeze != null">
	       and ISFREEZE=#{isfreeze}
	     </if>
	     <if test="longitude != null">
	       and LONGITUDE=#{longitude}
	     </if>
	     <if test="latitude != null">
	       and LATITUDE=#{latitude}
	     </if>
	     <if test="storeId != null">
	       and STORE_ID=#{storeId}
	     </if>
	     <if test="isHaveStore != null">
	       and IS_HAVE_STORE=#{isHaveStore}
	     </if>
	     <if test="address != null">
	       and ADDRESS=#{address}
	     </if>
	     <if test="birthday != null">
	       and BIRTHDAY=#{birthday}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
		select * from(
            select * from (
				select
				USER_ID,
				USER_GROUP_ID,
				USER_LV_ID,
				USERNAME,
				PASSWORD,
				FREEZE,
				ISTHERE,
				THIRDID,
				SALT,
				ENCRYPT,
				TEL,
				PHONE,
				VERIFIEDPHONE,
				EMAIL,
				VERIFIEDEMAIL,
				NICKNAME,
				REALNAME,
				IDCARD,
				GENDER,
				AVATAR,
				DEVICE_TYPE,
				DEVICE_NO,
				CHANNELID,
				STATUS,
				IS_VERIFY,
				IS_DEL,
				LAST_LOGIN_TIME,
				LAST_LOGIN_IP,
				BAN_ETIME,
				CTIME,
				MTIME,
				TELPHONE,
				NUMBEREGRAL,
				SIGNATURE,
				TYPE,
				HEADPORTRAITPATH,
				MOBILE,
				THIRDLOGNUMBERYPE,
				ISRECYCLE,
				CREATORID,
				MODIFIERID,
				ACCOUNT,
				ISFREEZE,
				LONGITUDE,
				LATITUDE,
				STORE_ID,
				IS_HAVE_STORE,
				ADDRESS,
				BIRTHDAY,
				rownum r
	       <include refid="pageCondition" />
	   <![CDATA[
	        )
	        where r <= #{offset}+#{rows}
	   )
       where r > #{offset}
       ]]>
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
		select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
		from CAS_USER
		where 1 = 1
	     <if test="userId != null">
			and USER_ID=#{userId}
	     </if>
	     <if test="userGroupId != null">
			and USER_GROUP_ID=#{userGroupId}
	     </if>
	     <if test="userLvId != null">
			and USER_LV_ID=#{userLvId}
	     </if>
	     <if test="username != null">
			and USERNAME=#{username}
	     </if>
	     <if test="password != null">
			and PASSWORD=#{password}
	     </if>
	     <if test="freeze != null">
			and FREEZE=#{freeze}
	     </if>
	     <if test="isthere != null">
			and ISTHERE=#{isthere}
	     </if>
	     <if test="thirdid != null">
			and THIRDID=#{thirdid}
	     </if>
	     <if test="salt != null">
			and SALT=#{salt}
	     </if>
	     <if test="encrypt != null">
			and ENCRYPT=#{encrypt}
	     </if>
	     <if test="tel != null">
			and TEL=#{tel}
	     </if>
	     <if test="phone != null">
			and PHONE=#{phone}
	     </if>
	     <if test="verifiedphone != null">
			and VERIFIEDPHONE=#{verifiedphone}
	     </if>
	     <if test="email != null">
			and EMAIL=#{email}
	     </if>
	     <if test="verifiedemail != null">
			and VERIFIEDEMAIL=#{verifiedemail}
	     </if>
	     <if test="nickname != null">
			and NICKNAME=#{nickname}
	     </if>
	     <if test="realname != null">
			and REALNAME=#{realname}
	     </if>
	     <if test="idcard != null">
			and IDCARD=#{idcard}
	     </if>
	     <if test="gender != null">
			and GENDER=#{gender}
	     </if>
	     <if test="avatar != null">
			and AVATAR=#{avatar}
	     </if>
	     <if test="deviceType != null">
			and DEVICE_TYPE=#{deviceType}
	     </if>
	     <if test="deviceNo != null">
			and DEVICE_NO=#{deviceNo}
	     </if>
	     <if test="channelid != null">
			and CHANNELID=#{channelid}
	     </if>
	     <if test="status != null">
			and STATUS=#{status}
	     </if>
	     <if test="isVerify != null">
			and IS_VERIFY=#{isVerify}
	     </if>
	     <if test="isDel != null">
			and IS_DEL=#{isDel}
	     </if>
	     <if test="lastLoginTime != null">
			and LAST_LOGIN_TIME=#{lastLoginTime}
	     </if>
	     <if test="lastLoginIp != null">
			and LAST_LOGIN_IP=#{lastLoginIp}
	     </if>
	     <if test="banEtime != null">
			and BAN_ETIME=#{banEtime}
	     </if>
	     <if test="ctime != null">
			and CTIME=#{ctime}
	     </if>
	     <if test="mtime != null">
			and MTIME=#{mtime}
	     </if>
	     <if test="telphone != null">
			and TELPHONE=#{telphone}
	     </if>
	     <if test="numberegral != null">
			and NUMBEREGRAL=#{numberegral}
	     </if>
	     <if test="signature != null">
			and SIGNATURE=#{signature}
	     </if>
	     <if test="type != null">
			and TYPE=#{type}
	     </if>
	     <if test="headportraitpath != null">
			and HEADPORTRAITPATH=#{headportraitpath}
	     </if>
	     <if test="mobile != null">
			and MOBILE=#{mobile}
	     </if>
	     <if test="thirdlognumberype != null">
			and THIRDLOGNUMBERYPE=#{thirdlognumberype}
	     </if>
	     <if test="isrecycle != null">
			and ISRECYCLE=#{isrecycle}
	     </if>
	     <if test="creatorid != null">
			and CREATORID=#{creatorid}
	     </if>
	     <if test="modifierid != null">
			and MODIFIERID=#{modifierid}
	     </if>
	     <if test="account != null">
			and ACCOUNT=#{account}
	     </if>
	     <if test="isfreeze != null">
			and ISFREEZE=#{isfreeze}
	     </if>
	     <if test="longitude != null">
			and LONGITUDE=#{longitude}
	     </if>
	     <if test="latitude != null">
			and LATITUDE=#{latitude}
	     </if>
	     <if test="storeId != null">
			and STORE_ID=#{storeId}
	     </if>
	     <if test="isHaveStore != null">
			and IS_HAVE_STORE=#{isHaveStore}
	     </if>
	     <if test="address != null">
			and ADDRESS=#{address}
	     </if>
	     <if test="birthday != null">
			and BIRTHDAY=#{birthday}
	     </if>
	</sql>

	
</mapper> 
