<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2017-10-17 16:44:06
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.sys.SysLogDao">

	<resultMap id="sysLogResultMap" type="com.bluemobi.po.sys.SysLog">
		<id property="id" column="ID" jdbcType="VARCHAR" />
       <result property="type" column="TYPE" jdbcType="DECIMAL"/>
       <result property="title" column="TITLE" jdbcType="VARCHAR"/>
       <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
       <result property="createDate" column="CREATE_DATE" jdbcType="VARCHAR"/>
       <result property="remoteAddr" column="REMOTE_ADDR" jdbcType="VARCHAR"/>
       <result property="userAgent" column="USER_AGENT" jdbcType="VARCHAR"/>
       <result property="requestUri" column="REQUEST_URI" jdbcType="VARCHAR"/>
       <result property="method" column="METHOD" jdbcType="VARCHAR"/>
       <result property="params" column="PARAMS" jdbcType="VARCHAR"/>
       <result property="exception" column="EXCEPTION" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="sysLogResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="sysLogResultMap"></resultMap>
	
	<!-- 插入一条数据，需要在数据库中，创建表相关的序列，为了业务需求返回主键，不建触发器 -->
	<insert id="insert" parameterType="com.bluemobi.po.sys.SysLog">
		insert into SYS_LOG (
			ID,
			TYPE,
			TITLE,
			CREATE_BY,
			CREATE_DATE,
			REMOTE_ADDR,
			USER_AGENT,
			REQUEST_URI,
			METHOD,
			PARAMS,
			EXCEPTION
		)values (
			 #{id,jdbcType=VARCHAR},
			 #{type,jdbcType=DECIMAL},
			 #{title,jdbcType=VARCHAR},
			 #{createBy,jdbcType=VARCHAR},
			 #{createDate,jdbcType=VARCHAR},
			 #{remoteAddr,jdbcType=VARCHAR},
			 #{userAgent,jdbcType=VARCHAR},
			 #{requestUri,jdbcType=VARCHAR},
			 #{method,jdbcType=VARCHAR},
			 #{params,jdbcType=VARCHAR},
			 #{exception,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 根据主键查询 修改条目相关信息-->
	<update id="update" parameterType="com.bluemobi.po.sys.SysLog">
		update SYS_LOG
		<set>
			<if test="id != null">
				ID = #{id,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=DECIMAL},
			</if>
			<if test="title != null">
				TITLE = #{title,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=VARCHAR},
			</if>
			<if test="remoteAddr != null">
				REMOTE_ADDR = #{remoteAddr,jdbcType=VARCHAR},
			</if>
			<if test="userAgent != null">
				USER_AGENT = #{userAgent,jdbcType=VARCHAR},
			</if>
			<if test="requestUri != null">
				REQUEST_URI = #{requestUri,jdbcType=VARCHAR},
			</if>
			<if test="method != null">
				METHOD = #{method,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				PARAMS = #{params,jdbcType=VARCHAR},
			</if>
			<if test="exception != null">
				EXCEPTION = #{exception,jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			 ID=#{id} 
		</where>
	</update>

	<!-- 根据表主键删除条目，确保逻辑删除字段为 is_del（0：未删除，1：已删除） -->
	<update id="delete" parameterType="map">
		update SYS_LOG 
		SET
			is_del = 1	 
	   where 1=1
	   and ID=#{id} 
	</update>

	<!-- 根据主键查询 相关数据信息-->
	<select id="selectObject" parameterType="map" resultMap="sysLogResultMap">
		select 
		ID,
		TYPE,
		TITLE,
		CREATE_BY,
		CREATE_DATE,
		REMOTE_ADDR,
		USER_AGENT,
		REQUEST_URI,
		METHOD,
		PARAMS,
		EXCEPTION
		from SYS_LOG
		where 
	    ID=#{id} 
	</select>
	
	<!-- 根据相关字段 查询符合条件的数据信息 返回相关集合 -->
	<select id="selectObjectList" parameterType="map" resultMap="sysLogResultMap">
		select 
		ID,
		TYPE,
		TITLE,
		CREATE_BY,
		CREATE_DATE,
		REMOTE_ADDR,
		USER_AGENT,
		REQUEST_URI,
		METHOD,
		PARAMS,
		EXCEPTION
		from SYS_LOG
	   <where>
	     <if test="id != null">
	        ID=#{id}
	     </if>
	     <if test="type != null">
	       and TYPE=#{type}
	     </if>
	     <if test="title != null">
	       and TITLE=#{title}
	     </if>
	     <if test="createBy != null">
	       and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
	       and CREATE_DATE=#{createDate}
	     </if>
	     <if test="remoteAddr != null">
	       and REMOTE_ADDR=#{remoteAddr}
	     </if>
	     <if test="userAgent != null">
	       and USER_AGENT=#{userAgent}
	     </if>
	     <if test="requestUri != null">
	       and REQUEST_URI=#{requestUri}
	     </if>
	     <if test="method != null">
	       and METHOD=#{method}
	     </if>
	     <if test="params != null">
	       and PARAMS=#{params}
	     </if>
	     <if test="exception != null">
	       and EXCEPTION=#{exception}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
		select 
			ID,
			TYPE,
			TITLE,
			CREATE_BY,
			CREATE_DATE,
			REMOTE_ADDR,
			USER_AGENT,
			REQUEST_URI,
			METHOD,
			PARAMS,
			EXCEPTION
		from SYS_LOG
		where 
	    ID=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
		select 
	    ID,
	    TYPE,
	    TITLE,
	    CREATE_BY,
	    CREATE_DATE,
	    REMOTE_ADDR,
	    USER_AGENT,
	    REQUEST_URI,
	    METHOD,
	    PARAMS,
	    EXCEPTION
		from SYS_LOG
	   <where>
	     <if test="id != null">
	        ID=#{id}
	     </if>
	     <if test="type != null">
	       and TYPE=#{type}
	     </if>
	     <if test="title != null">
	       and TITLE=#{title}
	     </if>
	     <if test="createBy != null">
	       and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
	       and CREATE_DATE=#{createDate}
	     </if>
	     <if test="remoteAddr != null">
	       and REMOTE_ADDR=#{remoteAddr}
	     </if>
	     <if test="userAgent != null">
	       and USER_AGENT=#{userAgent}
	     </if>
	     <if test="requestUri != null">
	       and REQUEST_URI=#{requestUri}
	     </if>
	     <if test="method != null">
	       and METHOD=#{method}
	     </if>
	     <if test="params != null">
	       and PARAMS=#{params}
	     </if>
	     <if test="exception != null">
	       and EXCEPTION=#{exception}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
		select * from(
            select * from (
				select
				ID,
				TYPE,
				TITLE,
				CREATE_BY,
				CREATE_DATE,
				REMOTE_ADDR,
				USER_AGENT,
				REQUEST_URI,
				METHOD,
				PARAMS,
				EXCEPTION,
				rownum r
	       <include refid="pageCondition" />
	   <![CDATA[
	        )
	        where r <= #{offset}+#{rows}
	   )
       where r > #{offset}
       ]]>
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
		select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
		from SYS_LOG
		where 1 = 1
	     <if test="id != null">
			and ID=#{id}
	     </if>
	     <if test="type != null">
			and TYPE=#{type}
	     </if>
	     <if test="title != null">
			and TITLE=#{title}
	     </if>
	     <if test="createBy != null and createBy != ''">
			and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null and createDate !=''">
			and CREATE_DATE=#{createDate}
	     </if>
	     <if test="remoteAddr != null">
			and REMOTE_ADDR=#{remoteAddr}
	     </if>
	     <if test="userAgent != null">
			and USER_AGENT=#{userAgent}
	     </if>
	     <if test="requestUri != null">
			and REQUEST_URI=#{requestUri}
	     </if>
	     <if test="method != null">
			and METHOD=#{method}
	     </if>
	     <if test="params != null">
			and PARAMS=#{params}
	     </if>
	     <if test="exception != null">
			and EXCEPTION=#{exception}
	     </if>
	</sql>

	
</mapper> 
