<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【系统日志动作】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2017-01-10 14:38:25
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.sys.SysLogActionDao">

	<resultMap id="sysLogActionResultMap" type="com.bluemobi.po.sys.SysLogAction">
		<id property="sysLogActionId" column="sys_log_action_id" />
       <result property="actionName" column="action_name" />
       <result property="actionCode" column="action_code" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="sysLogActionResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="sysLogActionResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.sys.SysLogAction" useGeneratedKeys="true" keyProperty="sysLogActionId" >
	   insert into t_sys_log_action (
	     sys_log_action_id,
	     action_name,
	     action_code
	   )values (
	     #{sysLogActionId},
	     #{actionName},
	     #{actionCode}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.sys.SysLogAction">
		update t_sys_log_action
		<set>
			<if test="sysLogActionId != null">
				sys_log_action_id=#{sysLogActionId},
			</if>
			<if test="actionName != null">
				action_name=#{actionName},
			</if>
			<if test="actionCode != null">
				action_code=#{actionCode},
			</if>
		</set>
		<where>
			sys_log_action_id=#{sysLogActionId} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     t_sys_log_action 
	   where 
	    sys_log_action_id=#{sysLogActionId} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="sysLogActionResultMap">
	   select 
	    sys_log_action_id,
	    action_name,
	    action_code
	   from t_sys_log_action
	   where 
	    sys_log_action_id=#{sysLogActionId} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="sysLogActionResultMap">
	   select 
	     sys_log_action_id,
	     action_name,
	     action_code
	   from t_sys_log_action
	   <where>
	     <if test="sysLogActionId != null">
	        sys_log_action_id=#{sysLogActionId}
	     </if>
	     <if test="actionName != null">
	        and action_name=#{actionName}
	     </if>
	     <if test="actionCode != null">
	        and action_code=#{actionCode}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    sys_log_action_id,
	    action_name,
	    action_code
	   from t_sys_log_action
	   where 
	    sys_log_action_id=#{sysLogActionId} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     sys_log_action_id,
	     action_name,
	     action_code
	   from t_sys_log_action
	   <where>
	     <if test="sysLogActionId != null">
	        sys_log_action_id=#{sysLogActionId}
	     </if>
	     <if test="actionName != null">
	        and action_name=#{actionName}
	     </if>
	     <if test="actionCode != null">
	        and action_code=#{actionCode}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="sysLogActionResultMap">
	   select 
	     sys_log_action_id,
	     action_name,
	     action_code
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from t_sys_log_action
	   <where>
	     <if test="sysLogActionId != null">
	        sys_log_action_id=#{sysLogActionId}
	     </if>
	     <if test="actionName != null">
	        and action_name=#{actionName}
	     </if>
	     <if test="actionCode != null">
	        and action_code=#{actionCode}
	     </if>
	   </where>
	</sql>

	
</mapper> 