<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2017-10-17 16:44:06
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.sys.SysMenuDao">

	<resultMap id="sysMenuResultMap" type="com.bluemobi.po.sys.SysMenu">
		<id property="id" column="ID" jdbcType="VARCHAR" />
       <result property="parentId" column="PARENT_ID" jdbcType="VARCHAR"/>
       <result property="parentIds" column="PARENT_IDS" jdbcType="VARCHAR"/>
       <result property="name" column="NAME" jdbcType="VARCHAR"/>
       <result property="sort" column="SORT" jdbcType="VARCHAR"/>
       <result property="href" column="HREF" jdbcType="VARCHAR"/>
       <result property="target" column="TARGET" jdbcType="VARCHAR"/>
       <result property="icon" column="ICON" jdbcType="VARCHAR"/>
       <result property="isShow" column="IS_SHOW" jdbcType="DECIMAL"/>
       <result property="permission" column="PERMISSION" jdbcType="VARCHAR"/>
       <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
       <result property="createDate" column="CREATE_DATE" jdbcType="VARCHAR"/>
       <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
       <result property="updateDate" column="UPDATE_DATE" jdbcType="VARCHAR"/>
       <result property="remarks" column="REMARKS" jdbcType="VARCHAR"/>
       <result property="delFlag" column="DEL_FLAG" jdbcType="DECIMAL"/>
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="sysMenuResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="sysMenuResultMap"></resultMap>
	
	<!-- 插入一条数据，需要在数据库中，创建表相关的序列，为了业务需求返回主键，不建触发器 -->
	<insert id="insert" parameterType="com.bluemobi.po.sys.SysMenu">
		insert into SYS_MENU (
			ID,
			PARENT_ID,
			PARENT_IDS,
			NAME,
			SORT,
			HREF,
			TARGET,
			ICON,
			IS_SHOW,
			PERMISSION,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			REMARKS,
			DEL_FLAG
		)values (
			 #{id,jdbcType=VARCHAR},
			 #{parentId,jdbcType=VARCHAR},
			 #{parentIds,jdbcType=VARCHAR},
			 #{name,jdbcType=VARCHAR},
			 #{sort,jdbcType=VARCHAR},
			 #{href,jdbcType=VARCHAR},
			 #{target,jdbcType=VARCHAR},
			 #{icon,jdbcType=VARCHAR},
			 #{isShow,jdbcType=DECIMAL},
			 #{permission,jdbcType=VARCHAR},
			 #{createBy,jdbcType=VARCHAR},
			 #{createDate,jdbcType=VARCHAR},
			 #{updateBy,jdbcType=VARCHAR},
			 #{updateDate,jdbcType=VARCHAR},
			 #{remarks,jdbcType=VARCHAR},
			 #{delFlag,jdbcType=DECIMAL}
		)
	</insert>

	<!-- 根据主键查询 修改条目相关信息-->
	<update id="update" parameterType="com.bluemobi.po.sys.SysMenu">
		update SYS_MENU
		<set>
			<if test="id != null">
				ID = #{id,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				PARENT_ID = #{parentId,jdbcType=VARCHAR},
			</if>
			<if test="parentIds != null">
				PARENT_IDS = #{parentIds,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				SORT = #{sort,jdbcType=VARCHAR},
			</if>
			<if test="href != null">
				HREF = #{href,jdbcType=VARCHAR},
			</if>
			<if test="target != null">
				TARGET = #{target,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				ICON = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="isShow != null">
				IS_SHOW = #{isShow,jdbcType=DECIMAL},
			</if>
			<if test="permission != null">
				PERMISSION = #{permission,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=VARCHAR},
			</if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				REMARKS = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
			</if>
		</set>
		<where>
			 ID=#{id} 
		</where>
	</update>

	<!-- 根据表主键删除条目，确保逻辑删除字段为 is_del（0：未删除，1：已删除） -->
	<update id="delete" parameterType="map">
		update SYS_MENU 
		SET
			is_del = 1	 
	   where 1=1
	   and ID=#{id} 
	</update>

	<!-- 根据主键查询 相关数据信息-->
	<select id="selectObject" parameterType="map" resultMap="sysMenuResultMap">
		select 
		ID,
		PARENT_ID,
		PARENT_IDS,
		NAME,
		SORT,
		HREF,
		TARGET,
		ICON,
		IS_SHOW,
		PERMISSION,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		REMARKS,
		DEL_FLAG
		from SYS_MENU
		where 
	    ID=#{id} 
	</select>
	
	<!-- 根据相关字段 查询符合条件的数据信息 返回相关集合 -->
	<select id="selectObjectList" parameterType="map" resultMap="sysMenuResultMap">
		select 
		ID,
		PARENT_ID,
		PARENT_IDS,
		NAME,
		SORT,
		HREF,
		TARGET,
		ICON,
		IS_SHOW,
		PERMISSION,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		REMARKS,
		DEL_FLAG
		from SYS_MENU
	   <where>
	     <if test="id != null">
	        ID=#{id}
	     </if>
	     <if test="parentId != null">
	       and PARENT_ID=#{parentId}
	     </if>
	     <if test="parentIds != null">
	       and PARENT_IDS=#{parentIds}
	     </if>
	     <if test="name != null">
	       and NAME=#{name}
	     </if>
	     <if test="sort != null">
	       and SORT=#{sort}
	     </if>
	     <if test="href != null">
	       and HREF=#{href}
	     </if>
	     <if test="target != null">
	       and TARGET=#{target}
	     </if>
	     <if test="icon != null">
	       and ICON=#{icon}
	     </if>
	     <if test="isShow != null">
	       and IS_SHOW=#{isShow}
	     </if>
	     <if test="permission != null">
	       and PERMISSION=#{permission}
	     </if>
	     <if test="createBy != null">
	       and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
	       and CREATE_DATE=#{createDate}
	     </if>
	     <if test="updateBy != null">
	       and UPDATE_BY=#{updateBy}
	     </if>
	     <if test="updateDate != null">
	       and UPDATE_DATE=#{updateDate}
	     </if>
	     <if test="remarks != null">
	       and REMARKS=#{remarks}
	     </if>
	     <if test="delFlag != null">
	       and DEL_FLAG=#{delFlag}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
		select 
			ID,
			PARENT_ID,
			PARENT_IDS,
			NAME,
			SORT,
			HREF,
			TARGET,
			ICON,
			IS_SHOW,
			PERMISSION,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			REMARKS,
			DEL_FLAG
		from SYS_MENU
		where 
	    ID=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
		select 
	    ID,
	    PARENT_ID,
	    PARENT_IDS,
	    NAME,
	    SORT,
	    HREF,
	    TARGET,
	    ICON,
	    IS_SHOW,
	    PERMISSION,
	    CREATE_BY,
	    CREATE_DATE,
	    UPDATE_BY,
	    UPDATE_DATE,
	    REMARKS,
	    DEL_FLAG
		from SYS_MENU
	   <where>
	     <if test="id != null">
	        ID=#{id}
	     </if>
	     <if test="parentId != null">
	       and PARENT_ID=#{parentId}
	     </if>
	     <if test="parentIds != null">
	       and PARENT_IDS=#{parentIds}
	     </if>
	     <if test="name != null">
	       and NAME=#{name}
	     </if>
	     <if test="sort != null">
	       and SORT=#{sort}
	     </if>
	     <if test="href != null">
	       and HREF=#{href}
	     </if>
	     <if test="target != null">
	       and TARGET=#{target}
	     </if>
	     <if test="icon != null">
	       and ICON=#{icon}
	     </if>
	     <if test="isShow != null">
	       and IS_SHOW=#{isShow}
	     </if>
	     <if test="permission != null">
	       and PERMISSION=#{permission}
	     </if>
	     <if test="createBy != null">
	       and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
	       and CREATE_DATE=#{createDate}
	     </if>
	     <if test="updateBy != null">
	       and UPDATE_BY=#{updateBy}
	     </if>
	     <if test="updateDate != null">
	       and UPDATE_DATE=#{updateDate}
	     </if>
	     <if test="remarks != null">
	       and REMARKS=#{remarks}
	     </if>
	     <if test="delFlag != null">
	       and DEL_FLAG=#{delFlag}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
		select * from(
            select * from (
				select
				ID,
				PARENT_ID,
				PARENT_IDS,
				NAME,
				SORT,
				HREF,
				TARGET,
				ICON,
				IS_SHOW,
				PERMISSION,
				CREATE_BY,
				CREATE_DATE,
				UPDATE_BY,
				UPDATE_DATE,
				REMARKS,
				DEL_FLAG,
				rownum r
	       <include refid="pageCondition" />
	   <![CDATA[
	        )
	        where r <= #{offset}+#{rows}
	   )
       where r > #{offset}
       ]]>
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
		select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
		from SYS_MENU
		where 1 = 1
	     <if test="id != null">
			and ID=#{id}
	     </if>
	     <if test="parentId != null">
			and PARENT_ID=#{parentId}
	     </if>
	     <if test="parentIds != null">
			and PARENT_IDS=#{parentIds}
	     </if>
	     <if test="name != null">
			and NAME=#{name}
	     </if>
	     <if test="sort != null">
			and SORT=#{sort}
	     </if>
	     <if test="href != null">
			and HREF=#{href}
	     </if>
	     <if test="target != null">
			and TARGET=#{target}
	     </if>
	     <if test="icon != null">
			and ICON=#{icon}
	     </if>
	     <if test="isShow != null">
			and IS_SHOW=#{isShow}
	     </if>
	     <if test="permission != null">
			and PERMISSION=#{permission}
	     </if>
	     <if test="createBy != null">
			and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
			and CREATE_DATE=#{createDate}
	     </if>
	     <if test="updateBy != null">
			and UPDATE_BY=#{updateBy}
	     </if>
	     <if test="updateDate != null">
			and UPDATE_DATE=#{updateDate}
	     </if>
	     <if test="remarks != null">
			and REMARKS=#{remarks}
	     </if>
	     <if test="delFlag != null">
			and DEL_FLAG=#{delFlag}
	     </if>
	</sql>

	
</mapper> 
