<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2017-10-17 16:44:07
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.sys.SysRoleDao">

	<resultMap id="sysRoleResultMap" type="com.bluemobi.po.sys.SysRole">
		<id property="id" column="ID" jdbcType="VARCHAR" />
       <result property="officeId" column="OFFICE_ID" jdbcType="VARCHAR"/>
       <result property="name" column="NAME" jdbcType="VARCHAR"/>
       <result property="enname" column="ENNAME" jdbcType="VARCHAR"/>
       <result property="roleType" column="ROLE_TYPE" jdbcType="VARCHAR"/>
       <result property="dataScope" column="DATA_SCOPE" jdbcType="DECIMAL"/>
       <result property="isSys" column="IS_SYS" jdbcType="VARCHAR"/>
       <result property="useable" column="USEABLE" jdbcType="VARCHAR"/>
       <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
       <result property="createDate" column="CREATE_DATE" jdbcType="VARCHAR"/>
       <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
       <result property="updateDate" column="UPDATE_DATE" jdbcType="VARCHAR"/>
       <result property="remarks" column="REMARKS" jdbcType="VARCHAR"/>
       <result property="delFlag" column="DEL_FLAG" jdbcType="DECIMAL"/>
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="sysRoleResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="sysRoleResultMap"></resultMap>
	
	<!-- 插入一条数据，需要在数据库中，创建表相关的序列，为了业务需求返回主键，不建触发器 -->
	<insert id="insert" parameterType="com.bluemobi.po.sys.SysRole">
		insert into SYS_ROLE (
			ID,
			OFFICE_ID,
			NAME,
			ENNAME,
			ROLE_TYPE,
			DATA_SCOPE,
			IS_SYS,
			USEABLE,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			REMARKS,
			DEL_FLAG
		)values (
			 #{id,jdbcType=VARCHAR},
			 #{officeId,jdbcType=VARCHAR},
			 #{name,jdbcType=VARCHAR},
			 #{enname,jdbcType=VARCHAR},
			 #{roleType,jdbcType=VARCHAR},
			 #{dataScope,jdbcType=DECIMAL},
			 #{isSys,jdbcType=VARCHAR},
			 #{useable,jdbcType=VARCHAR},
			 #{createBy,jdbcType=VARCHAR},
			 #{createDate,jdbcType=VARCHAR},
			 #{updateBy,jdbcType=VARCHAR},
			 #{updateDate,jdbcType=VARCHAR},
			 #{remarks,jdbcType=VARCHAR},
			 #{delFlag,jdbcType=DECIMAL}
		)
	</insert>

	<!-- 根据主键查询 修改条目相关信息-->
	<update id="update" parameterType="com.bluemobi.po.sys.SysRole">
		update SYS_ROLE
		<set>
			<if test="id != null">
				ID = #{id,jdbcType=VARCHAR},
			</if>
			<if test="officeId != null">
				OFFICE_ID = #{officeId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="enname != null">
				ENNAME = #{enname,jdbcType=VARCHAR},
			</if>
			<if test="roleType != null">
				ROLE_TYPE = #{roleType,jdbcType=VARCHAR},
			</if>
			<if test="dataScope != null">
				DATA_SCOPE = #{dataScope,jdbcType=DECIMAL},
			</if>
			<if test="isSys != null">
				IS_SYS = #{isSys,jdbcType=VARCHAR},
			</if>
			<if test="useable != null">
				USEABLE = #{useable,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=VARCHAR},
			</if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				REMARKS = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
			</if>
		</set>
		<where>
			 ID=#{id} 
		</where>
	</update>

	<!-- 根据表主键删除条目，确保逻辑删除字段为 is_del（0：未删除，1：已删除） -->
	<update id="delete" parameterType="map">
		update SYS_ROLE 
		SET
			is_del = 1	 
	   where 1=1
	   and ID=#{id} 
	</update>

	<!-- 根据主键查询 相关数据信息-->
	<select id="selectObject" parameterType="map" resultMap="sysRoleResultMap">
		select 
		ID,
		OFFICE_ID,
		NAME,
		ENNAME,
		ROLE_TYPE,
		DATA_SCOPE,
		IS_SYS,
		USEABLE,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		REMARKS,
		DEL_FLAG
		from SYS_ROLE
		where 
	    ID=#{id} 
	</select>
	
	<!-- 根据相关字段 查询符合条件的数据信息 返回相关集合 -->
	<select id="selectObjectList" parameterType="map" resultMap="sysRoleResultMap">
		select 
		ID,
		OFFICE_ID,
		NAME,
		ENNAME,
		ROLE_TYPE,
		DATA_SCOPE,
		IS_SYS,
		USEABLE,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		REMARKS,
		DEL_FLAG
		from SYS_ROLE
	   <where>
	     <if test="id != null">
	        ID=#{id}
	     </if>
	     <if test="officeId != null">
	       and OFFICE_ID=#{officeId}
	     </if>
	     <if test="name != null">
	       and NAME=#{name}
	     </if>
	     <if test="enname != null">
	       and ENNAME=#{enname}
	     </if>
	     <if test="roleType != null">
	       and ROLE_TYPE=#{roleType}
	     </if>
	     <if test="dataScope != null">
	       and DATA_SCOPE=#{dataScope}
	     </if>
	     <if test="isSys != null">
	       and IS_SYS=#{isSys}
	     </if>
	     <if test="useable != null">
	       and USEABLE=#{useable}
	     </if>
	     <if test="createBy != null">
	       and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
	       and CREATE_DATE=#{createDate}
	     </if>
	     <if test="updateBy != null">
	       and UPDATE_BY=#{updateBy}
	     </if>
	     <if test="updateDate != null">
	       and UPDATE_DATE=#{updateDate}
	     </if>
	     <if test="remarks != null">
	       and REMARKS=#{remarks}
	     </if>
	     <if test="delFlag != null">
	       and DEL_FLAG=#{delFlag}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
		select 
			ID,
			OFFICE_ID,
			NAME,
			ENNAME,
			ROLE_TYPE,
			DATA_SCOPE,
			IS_SYS,
			USEABLE,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			REMARKS,
			DEL_FLAG
		from SYS_ROLE
		where 
	    ID=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
		select 
	    ID,
	    OFFICE_ID,
	    NAME,
	    ENNAME,
	    ROLE_TYPE,
	    DATA_SCOPE,
	    IS_SYS,
	    USEABLE,
	    CREATE_BY,
	    CREATE_DATE,
	    UPDATE_BY,
	    UPDATE_DATE,
	    REMARKS,
	    DEL_FLAG
		from SYS_ROLE
	   <where>
	     <if test="id != null">
	        ID=#{id}
	     </if>
	     <if test="officeId != null">
	       and OFFICE_ID=#{officeId}
	     </if>
	     <if test="name != null">
	       and NAME=#{name}
	     </if>
	     <if test="enname != null">
	       and ENNAME=#{enname}
	     </if>
	     <if test="roleType != null">
	       and ROLE_TYPE=#{roleType}
	     </if>
	     <if test="dataScope != null">
	       and DATA_SCOPE=#{dataScope}
	     </if>
	     <if test="isSys != null">
	       and IS_SYS=#{isSys}
	     </if>
	     <if test="useable != null">
	       and USEABLE=#{useable}
	     </if>
	     <if test="createBy != null">
	       and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
	       and CREATE_DATE=#{createDate}
	     </if>
	     <if test="updateBy != null">
	       and UPDATE_BY=#{updateBy}
	     </if>
	     <if test="updateDate != null">
	       and UPDATE_DATE=#{updateDate}
	     </if>
	     <if test="remarks != null">
	       and REMARKS=#{remarks}
	     </if>
	     <if test="delFlag != null">
	       and DEL_FLAG=#{delFlag}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
		select * from(
            select * from (
				select
				ID,
				OFFICE_ID,
				NAME,
				ENNAME,
				ROLE_TYPE,
				DATA_SCOPE,
				IS_SYS,
				USEABLE,
				CREATE_BY,
				CREATE_DATE,
				UPDATE_BY,
				UPDATE_DATE,
				REMARKS,
				DEL_FLAG,
				rownum r
	       <include refid="pageCondition" />
	   <![CDATA[
	        )
	        where r <= #{offset}+#{rows}
	   )
       where r > #{offset}
       ]]>
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
		select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
		from SYS_ROLE
		where 1 = 1
	     <if test="id != null">
			and ID=#{id}
	     </if>
	     <if test="officeId != null">
			and OFFICE_ID=#{officeId}
	     </if>
	     <if test="name != null">
			and NAME=#{name}
	     </if>
	     <if test="enname != null">
			and ENNAME=#{enname}
	     </if>
	     <if test="roleType != null">
			and ROLE_TYPE=#{roleType}
	     </if>
	     <if test="dataScope != null">
			and DATA_SCOPE=#{dataScope}
	     </if>
	     <if test="isSys != null">
			and IS_SYS=#{isSys}
	     </if>
	     <if test="useable != null">
			and USEABLE=#{useable}
	     </if>
	     <if test="createBy != null">
			and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
			and CREATE_DATE=#{createDate}
	     </if>
	     <if test="updateBy != null">
			and UPDATE_BY=#{updateBy}
	     </if>
	     <if test="updateDate != null">
			and UPDATE_DATE=#{updateDate}
	     </if>
	     <if test="remarks != null">
			and REMARKS=#{remarks}
	     </if>
	     <if test="delFlag != null">
			and DEL_FLAG=#{delFlag}
	     </if>
	</sql>

	
</mapper> 
