<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2017-10-17 16:44:07
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.sys.SysUserDao">

	<resultMap id="sysUserResultMap" type="com.bluemobi.po.sys.SysUser">
		<id property="id" column="ID" jdbcType="VARCHAR" />
       <result property="companyId" column="COMPANY_ID" jdbcType="VARCHAR"/>
       <result property="officeId" column="OFFICE_ID" jdbcType="VARCHAR"/>
       <result property="loginName" column="LOGIN_NAME" jdbcType="VARCHAR"/>
       <result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
       <result property="no" column="NO" jdbcType="VARCHAR"/>
       <result property="name" column="NAME" jdbcType="VARCHAR"/>
       <result property="email" column="EMAIL" jdbcType="VARCHAR"/>
       <result property="phone" column="PHONE" jdbcType="VARCHAR"/>
       <result property="mobile" column="MOBILE" jdbcType="VARCHAR"/>
       <result property="userType" column="USER_TYPE" jdbcType="CHAR"/>
       <result property="photo" column="PHOTO" jdbcType="VARCHAR"/>
       <result property="loginIp" column="LOGIN_IP" jdbcType="VARCHAR"/>
       <result property="loginDate" column="LOGIN_DATE" jdbcType="VARCHAR"/>
       <result property="loginFlag" column="LOGIN_FLAG" jdbcType="VARCHAR"/>
       <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
       <result property="createDate" column="CREATE_DATE" jdbcType="VARCHAR"/>
       <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
       <result property="updateDate" column="UPDATE_DATE" jdbcType="VARCHAR"/>
       <result property="remarks" column="REMARKS" jdbcType="VARCHAR"/>
		<result property="labId" column="LAB_ID" jdbcType="VARCHAR"/>
       <result property="delFlag" column="DEL_FLAG" jdbcType="DECIMAL"/>
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="sysUserResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="sysUserResultMap"></resultMap>
	
	<!-- 插入一条数据，需要在数据库中，创建表相关的序列，为了业务需求返回主键，不建触发器 -->
	<insert id="insert" parameterType="com.bluemobi.po.sys.SysUser">
		insert into SYS_USER (
			ID,
			COMPANY_ID,
			OFFICE_ID,
			LOGIN_NAME,
			PASSWORD,
			NO,
			NAME,
			EMAIL,
			PHONE,
			MOBILE,
			USER_TYPE,
			PHOTO,
			LOGIN_IP,
			LOGIN_DATE,
			LOGIN_FLAG,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			REMARKS,
			LAB_ID,
			DEL_FLAG
		)values (
			 #{id,jdbcType=VARCHAR},
			 #{companyId,jdbcType=VARCHAR},
			 #{officeId,jdbcType=VARCHAR},
			 #{loginName,jdbcType=VARCHAR},
			 #{password,jdbcType=VARCHAR},
			 #{no,jdbcType=VARCHAR},
			 #{name,jdbcType=VARCHAR},
			 #{email,jdbcType=VARCHAR},
			 #{phone,jdbcType=VARCHAR},
			 #{mobile,jdbcType=VARCHAR},
			 #{userType,jdbcType=CHAR},
			 #{photo,jdbcType=VARCHAR},
			 #{loginIp,jdbcType=VARCHAR},
			 #{loginDate,jdbcType=VARCHAR},
			 #{loginFlag,jdbcType=VARCHAR},
			 #{createBy,jdbcType=VARCHAR},
			 #{createDate,jdbcType=VARCHAR},
			 #{updateBy,jdbcType=VARCHAR},
			 #{updateDate,jdbcType=VARCHAR},
			 #{remarks,jdbcType=VARCHAR},
			 #{labId,jdbcType=VARCHAR},
			 #{delFlag,jdbcType=DECIMAL}
		)
	</insert>

	<!-- 根据主键查询 修改条目相关信息-->
	<update id="update" parameterType="com.bluemobi.po.sys.SysUser">
		update SYS_USER
		<set>
			<if test="id != null">
				ID = #{id,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=VARCHAR},
			</if>
			<if test="officeId != null">
				OFFICE_ID = #{officeId,jdbcType=VARCHAR},
			</if>
			<if test="loginName != null">
				LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				PASSWORD = #{password,jdbcType=VARCHAR},
			</if>
			<if test="no != null">
				NO = #{no,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				PHONE = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="userType != null">
				USER_TYPE = #{userType,jdbcType=CHAR},
			</if>
			<if test="photo != null">
				PHOTO = #{photo,jdbcType=VARCHAR},
			</if>
			<if test="loginIp != null">
				LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
			</if>
			<if test="loginDate != null">
				LOGIN_DATE = #{loginDate,jdbcType=VARCHAR},
			</if>
			<if test="loginFlag != null">
				LOGIN_FLAG = #{loginFlag,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=VARCHAR},
			</if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				REMARKS = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="labId != null">
				LAB_ID = #{labId,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
			</if>
		</set>
		<where>
			 ID=#{id} 
		</where>
	</update>

	<!-- 根据表主键删除条目，确保逻辑删除字段为 is_del（0：未删除，1：已删除） -->
	<update id="delete" parameterType="map">
		update SYS_USER 
		SET
			is_del = 1	 
	   where 1=1
	   and ID=#{id} 
	</update>

	<!-- 根据主键查询 相关数据信息-->
	<select id="selectObject" parameterType="map" resultMap="sysUserResultMap">
		select 
		ID,
		COMPANY_ID,
		OFFICE_ID,
		LOGIN_NAME,
		PASSWORD,
		NO,
		NAME,
		EMAIL,
		PHONE,
		MOBILE,
		USER_TYPE,
		PHOTO,
		LOGIN_IP,
		LOGIN_DATE,
		LOGIN_FLAG,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		REMARKS,
		LAB_ID,
		DEL_FLAG
		from SYS_USER
		where 
	    ID=#{id} 
	</select>
	
	<!-- 根据相关字段 查询符合条件的数据信息 返回相关集合 -->
	<select id="selectObjectList" parameterType="map" resultMap="sysUserResultMap">
		select 
		ID,
		COMPANY_ID,
		OFFICE_ID,
		LOGIN_NAME,
		PASSWORD,
		NO,
		NAME,
		EMAIL,
		PHONE,
		MOBILE,
		USER_TYPE,
		PHOTO,
		LOGIN_IP,
		LOGIN_DATE,
		LOGIN_FLAG,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		REMARKS,
		LAB_ID,
		DEL_FLAG
		from SYS_USER
	   <where>
	     <if test="id != null">
	        ID=#{id}
	     </if>
	     <if test="companyId != null">
	       and COMPANY_ID=#{companyId}
	     </if>
	     <if test="officeId != null">
	       and OFFICE_ID=#{officeId}
	     </if>
	     <if test="loginName != null">
	       and LOGIN_NAME=#{loginName}
	     </if>
	     <if test="password != null">
	       and PASSWORD=#{password}
	     </if>
	     <if test="no != null">
	       and NO=#{no}
	     </if>
	     <if test="name != null">
	       and NAME=#{name}
	     </if>
	     <if test="email != null">
	       and EMAIL=#{email}
	     </if>
	     <if test="phone != null">
	       and PHONE=#{phone}
	     </if>
	     <if test="mobile != null">
	       and MOBILE=#{mobile}
	     </if>
	     <if test="userType != null">
	       and USER_TYPE=#{userType}
	     </if>
	     <if test="photo != null">
	       and PHOTO=#{photo}
	     </if>
	     <if test="loginIp != null">
	       and LOGIN_IP=#{loginIp}
	     </if>
	     <if test="loginDate != null">
	       and LOGIN_DATE=#{loginDate}
	     </if>
	     <if test="loginFlag != null">
	       and LOGIN_FLAG=#{loginFlag}
	     </if>
	     <if test="createBy != null">
	       and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
	       and CREATE_DATE=#{createDate}
	     </if>
	     <if test="updateBy != null">
	       and UPDATE_BY=#{updateBy}
	     </if>
	     <if test="updateDate != null">
	       and UPDATE_DATE=#{updateDate}
	     </if>
	     <if test="remarks != null">
	       and REMARKS=#{remarks}
	     </if>
	     <if test="delFlag != null">
	       and DEL_FLAG=#{delFlag}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
		select 
			ID,
			COMPANY_ID,
			OFFICE_ID,
			LOGIN_NAME,
			PASSWORD,
			NO,
			NAME,
			EMAIL,
			PHONE,
			MOBILE,
			USER_TYPE,
			PHOTO,
			LOGIN_IP,
			LOGIN_DATE,
			LOGIN_FLAG,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			REMARKS,
			DEL_FLAG
		from SYS_USER
		where 
	    ID=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
		select 
	    ID,
	    COMPANY_ID,
	    OFFICE_ID,
	    LOGIN_NAME,
	    PASSWORD,
	    NO,
	    NAME,
	    EMAIL,
	    PHONE,
	    MOBILE,
	    USER_TYPE,
	    PHOTO,
	    LOGIN_IP,
	    LOGIN_DATE,
	    LOGIN_FLAG,
	    CREATE_BY,
	    CREATE_DATE,
	    UPDATE_BY,
	    UPDATE_DATE,
	    REMARKS,
	    DEL_FLAG
		from SYS_USER
	   <where>
	     <if test="id != null">
	        ID=#{id}
	     </if>
	     <if test="companyId != null">
	       and COMPANY_ID=#{companyId}
	     </if>
	     <if test="officeId != null">
	       and OFFICE_ID=#{officeId}
	     </if>
	     <if test="loginName != null">
	       and LOGIN_NAME=#{loginName}
	     </if>
	     <if test="password != null">
	       and PASSWORD=#{password}
	     </if>
	     <if test="no != null">
	       and NO=#{no}
	     </if>
	     <if test="name != null">
	       and NAME=#{name}
	     </if>
	     <if test="email != null">
	       and EMAIL=#{email}
	     </if>
	     <if test="phone != null">
	       and PHONE=#{phone}
	     </if>
	     <if test="mobile != null">
	       and MOBILE=#{mobile}
	     </if>
	     <if test="userType != null">
	       and USER_TYPE=#{userType}
	     </if>
	     <if test="photo != null">
	       and PHOTO=#{photo}
	     </if>
	     <if test="loginIp != null">
	       and LOGIN_IP=#{loginIp}
	     </if>
	     <if test="loginDate != null">
	       and LOGIN_DATE=#{loginDate}
	     </if>
	     <if test="loginFlag != null">
	       and LOGIN_FLAG=#{loginFlag}
	     </if>
	     <if test="createBy != null">
	       and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
	       and CREATE_DATE=#{createDate}
	     </if>
	     <if test="updateBy != null">
	       and UPDATE_BY=#{updateBy}
	     </if>
	     <if test="updateDate != null">
	       and UPDATE_DATE=#{updateDate}
	     </if>
	     <if test="remarks != null">
	       and REMARKS=#{remarks}
	     </if>
	     <if test="delFlag != null">
	       and DEL_FLAG=#{delFlag}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
		select * from(
            select * from (
				select
				ID,
				COMPANY_ID,
				OFFICE_ID,
				LOGIN_NAME,
				PASSWORD,
				NO,
				NAME,
				EMAIL,
				PHONE,
				MOBILE,
				USER_TYPE,
				PHOTO,
				LOGIN_IP,
				LOGIN_DATE,
				LOGIN_FLAG,
				CREATE_BY,
				CREATE_DATE,
				UPDATE_BY,
				UPDATE_DATE,
				REMARKS,
				LAB_ID,
				DEL_FLAG,
				rownum r
	       <include refid="pageCondition" />
	   <![CDATA[
	        )
	        where r <= #{offset}+#{rows}
	   )
       where r > #{offset}
       ]]>
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
		select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
		from SYS_USER
		where 1 = 1
	     <if test="id != null">
			and ID=#{id}
	     </if>
	     <if test="companyId != null">
			and COMPANY_ID=#{companyId}
	     </if>
	     <if test="officeId != null">
			and OFFICE_ID=#{officeId}
	     </if>
	     <if test="loginName != null">
			and LOGIN_NAME=#{loginName}
	     </if>
	     <if test="password != null">
			and PASSWORD=#{password}
	     </if>
	     <if test="no != null">
			and NO=#{no}
	     </if>
	     <if test="name != null">
			and NAME=#{name}
	     </if>
	     <if test="email != null">
			and EMAIL=#{email}
	     </if>
	     <if test="phone != null">
			and PHONE=#{phone}
	     </if>
	     <if test="mobile != null">
			and MOBILE=#{mobile}
	     </if>
	     <if test="userType != null">
			and USER_TYPE=#{userType}
	     </if>
	     <if test="photo != null">
			and PHOTO=#{photo}
	     </if>
	     <if test="loginIp != null">
			and LOGIN_IP=#{loginIp}
	     </if>
	     <if test="loginDate != null">
			and LOGIN_DATE=#{loginDate}
	     </if>
	     <if test="loginFlag != null">
			and LOGIN_FLAG=#{loginFlag}
	     </if>
	     <if test="createBy != null">
			and CREATE_BY=#{createBy}
	     </if>
	     <if test="createDate != null">
			and CREATE_DATE=#{createDate}
	     </if>
	     <if test="updateBy != null">
			and UPDATE_BY=#{updateBy}
	     </if>
	     <if test="updateDate != null">
			and UPDATE_DATE=#{updateDate}
	     </if>
	     <if test="remarks != null">
			and REMARKS=#{remarks}
	     </if>
	     <if test="delFlag != null">
			and DEL_FLAG=#{delFlag}
	     </if>
	</sql>

	
</mapper> 
