/* CSS Document */
*{ margin: 0; padding: 0; color: #696969;}
body{font: 12px/18px Tahoma, Arial, sans-serif, 微软雅黑, 宋体; width:100%;border:0; margin:0; padding:0;}/*火狐中使用width:1438px;*/
img{ border:0;}
#logo{background: url(../img/top_bg.gif) repeat-x;float: left;height: 84px;width: 100%;}
.loginfo{float: right;line-height: 24px;margin-right: 10px;text-align: center;width: 20%;}
#main{ float: left; margin: 0; padding: 0; width: 100%;}
/* workarea Style| 工作区样式 */
#workArea{float: left;width: 100%;}
.addressBar{float: left;height: 20px;padding-bottom: 2px;width: 100%;background:url(../images/addressBar.png);}
.address{ float: left; padding-left: 6px; width: 40%;}
a{ text-decoration:none; font-weight:bold; }
.contentStyle{float: left;border:1px solid #9BDCFB;width: 100%;background-color: #FBFEFF;}
.titleStyle{ background:#F5F5F5; height: 10%; line-height: 29px;border:1px solid #9BDCFB;}
.listPlan{ float: left; width: 100%;}
#table1 tr{height:23px;}
#table1 tr td a{color:#33CCCC}
.table2 tr{ border:1px solid #9BDCFB; height:20px;}
/**
.table2 tr td, .listTitle th{color: #696969;}
table tr td span{color:#696969;}
table tr:hover{ background:#CCCCCC; cursor:pointer}
table tr td a{color: #696969;}
table tr td select option{color: #696969;}
table tr td select{color: #696969;}
**/

.table2 tr:hover{ background:#CCCCCC; cursor:pointer}
.button{display: block;float: left;height: 16px;line-height: 16px;margin: 0px; text-align: center; width: 80px;}
#span1{margin-left:96px; _margin-left:199px;*margin-left:96px;}/*IE下要用_margin-left:99px;否则会飞的。*/
.contentStyle1{float: left; border:1px solid  #2E9C4F; background:#F7FFF9;width: 100%;}
.titleStyle1{ background:#F5F5F5; height: 29px; line-height: 29px;border:1px solid #2E9C4F; }
#content3 span{ color:green;}




















