<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2018-01-10 16:14:07
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.trend.TrendVersionDao">

	<resultMap id="trendVersionResultMap" type="com.bluemobi.po.trend.TrendVersion">
		<id property="id" column="ID" jdbcType="VARCHAR" />
       <result property="platform" column="PLATFORM" jdbcType="VARCHAR"/>
       <result property="vCode" column="V_CODE" jdbcType="DECIMAL"/>
       <result property="vName" column="V_NAME" jdbcType="VARCHAR"/>
       <result property="content" column="CONTENT" jdbcType="VARCHAR"/>
       <result property="filepath" column="FILEPATH" jdbcType="VARCHAR"/>
       <result property="size1" column="SIZE1" jdbcType="VARCHAR"/>
       <result property="filepathTdc" column="FILEPATH_TDC" jdbcType="VARCHAR"/>
       <result property="status" column="STATUS" jdbcType="DECIMAL"/>
       <result property="ctime" column="CTIME" jdbcType="VARCHAR"/>
       <result property="mtime" column="MTIME" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="trendVersionResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="trendVersionResultMap"></resultMap>
	
	<!-- 插入一条数据，需要在数据库中，创建表相关的序列，为了业务需求返回主键，不建触发器 -->
	<insert id="insert" parameterType="com.bluemobi.po.trend.TrendVersion">
		insert into TREND_VERSION (
			ID,
			PLATFORM,
			V_CODE,
			V_NAME,
			CONTENT,
			FILEPATH,
			SIZE1,
			FILEPATH_TDC,
			STATUS,
			CTIME,
			MTIME
		)values (
			 #{id,jdbcType=VARCHAR},
			 #{platform,jdbcType=VARCHAR},
			 #{vCode,jdbcType=DECIMAL},
			 #{vName,jdbcType=VARCHAR},
			 #{content,jdbcType=VARCHAR},
			 #{filepath,jdbcType=VARCHAR},
			 #{size1,jdbcType=VARCHAR},
			 #{filepathTdc,jdbcType=VARCHAR},
			 #{status,jdbcType=DECIMAL},
			 #{ctime,jdbcType=VARCHAR},
			 #{mtime,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 根据主键查询 修改条目相关信息-->
	<update id="update" parameterType="com.bluemobi.po.trend.TrendVersion">
		update TREND_VERSION
		<set>
			<if test="id != null">
				ID = #{id,jdbcType=DECIMAL},
			</if>
			<if test="platform != null">
				PLATFORM = #{platform,jdbcType=VARCHAR},
			</if>
			<if test="vCode != null">
				V_CODE = #{vCode,jdbcType=DECIMAL},
			</if>
			<if test="vName != null">
				V_NAME = #{vName,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				CONTENT = #{content,jdbcType=VARCHAR},
			</if>
			<if test="filepath != null">
				FILEPATH = #{filepath,jdbcType=VARCHAR},
			</if>
			<if test="size1 != null">
				SIZE1 = #{size1,jdbcType=VARCHAR},
			</if>
			<if test="filepathTdc != null">
				FILEPATH_TDC = #{filepathTdc,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=DECIMAL},
			</if>
			<if test="ctime != null">
				CTIME = #{ctime,jdbcType=VARCHAR},
			</if>
			<if test="mtime != null">
				MTIME = #{mtime,jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			 ID=#{id} 
		</where>
	</update>

	<!-- 根据表主键删除条目，确保逻辑删除字段为 is_del（0：未删除，1：已删除） -->
	<update id="delete" parameterType="map">
		update TREND_VERSION 
		SET
			is_del = 1	 
	   where 1=1
	   and ID=#{id} 
	</update>

	<!-- 根据主键查询 相关数据信息-->
	<select id="selectObject" parameterType="map" resultMap="trendVersionResultMap">
		select 
		ID,
		PLATFORM,
		V_CODE,
		V_NAME,
		CONTENT,
		FILEPATH,
		SIZE1,
		FILEPATH_TDC,
		STATUS,
		CTIME,
		MTIME
		from TREND_VERSION
		where 
	    ID=#{id} 
	</select>
	
	<!-- 根据相关字段 查询符合条件的数据信息 返回相关集合 -->
	<select id="selectObjectList" parameterType="map" resultMap="trendVersionResultMap">
		select 
		ID,
		PLATFORM,
		V_CODE,
		V_NAME,
		CONTENT,
		FILEPATH,
		SIZE1,
		FILEPATH_TDC,
		STATUS,
		CTIME,
		MTIME
		from TREND_VERSION
	   <where>
	     <if test="id != null">
	        ID=#{id}
	     </if>
	     <if test="platform != null">
	       and PLATFORM=#{platform}
	     </if>
	     <if test="vCode != null">
	       and V_CODE=#{vCode}
	     </if>
	     <if test="vName != null">
	       and V_NAME=#{vName}
	     </if>
	     <if test="content != null">
	       and CONTENT=#{content}
	     </if>
	     <if test="filepath != null">
	       and FILEPATH=#{filepath}
	     </if>
	     <if test="size1 != null">
	       and SIZE1=#{size1}
	     </if>
	     <if test="filepathTdc != null">
	       and FILEPATH_TDC=#{filepathTdc}
	     </if>
	     <if test="status != null">
	       and STATUS=#{status}
	     </if>
	     <if test="ctime != null">
	       and CTIME=#{ctime}
	     </if>
	     <if test="mtime != null">
	       and MTIME=#{mtime}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
		select 
			ID,
			PLATFORM,
			V_CODE,
			V_NAME,
			CONTENT,
			FILEPATH,
			SIZE1,
			FILEPATH_TDC,
			STATUS,
			CTIME,
			MTIME
		from TREND_VERSION
		where 
	    ID=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
		select 
	    ID,
	    PLATFORM,
	    V_CODE,
	    V_NAME,
	    CONTENT,
	    FILEPATH,
	    SIZE1,
	    FILEPATH_TDC,
	    STATUS,
	    CTIME,
	    MTIME
		from TREND_VERSION
	   <where>
	     <if test="id != null">
	        ID=#{id}
	     </if>
	     <if test="platform != null">
	       and PLATFORM=#{platform}
	     </if>
	     <if test="vCode != null">
	       and V_CODE=#{vCode}
	     </if>
	     <if test="vName != null">
	       and V_NAME=#{vName}
	     </if>
	     <if test="content != null">
	       and CONTENT=#{content}
	     </if>
	     <if test="filepath != null">
	       and FILEPATH=#{filepath}
	     </if>
	     <if test="size1 != null">
	       and SIZE1=#{size1}
	     </if>
	     <if test="filepathTdc != null">
	       and FILEPATH_TDC=#{filepathTdc}
	     </if>
	     <if test="status != null">
	       and STATUS=#{status}
	     </if>
	     <if test="ctime != null">
	       and CTIME=#{ctime}
	     </if>
	     <if test="mtime != null">
	       and MTIME=#{mtime}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
		select * from(
            select * from (
				select
				ID,
				PLATFORM,
				V_CODE,
				V_NAME,
				CONTENT,
				FILEPATH,
				SIZE1,
				FILEPATH_TDC,
				STATUS,
				CTIME,
				MTIME,
				rownum r
	       <include refid="pageCondition" />
	   <![CDATA[
	        )
	        where r <= #{offset}+#{rows}
	   )
       where r > #{offset}
       ]]>
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
		select count(1)
	   <include refid="pageCondition" />
	</select>
	<select id="selectNewestObject" parameterType="map" resultType="com.bluemobi.po.trend.TrendVersion">
			select * from (
             select
           		ID,
				PLATFORM,
				V_CODE,
				V_NAME,
				CONTENT,
				FILEPATH,
				SIZE1,
				FILEPATH_TDC,
				STATUS,
				CTIME,
				MTIME,
            rownum a
        from TREND_VERSION
       where
        PLATFORM=#{platform}
         and status = 1
        order by ctime desc
    ) where a=1
	</select>

	<sql id="pageCondition">
		from TREND_VERSION
		where 1 = 1
	     <if test="id != null">
			and ID=#{id}
	     </if>
	     <if test="platform != null">
			and PLATFORM=#{platform}
	     </if>
	     <if test="vCode != null">
			and V_CODE=#{vCode}
	     </if>
	     <if test="vName != null">
			and V_NAME=#{vName}
	     </if>
	     <if test="content != null">
			and CONTENT=#{content}
	     </if>
	     <if test="filepath != null">
			and FILEPATH=#{filepath}
	     </if>
	     <if test="size1 != null">
			and SIZE1=#{size1}
	     </if>
	     <if test="filepathTdc != null">
			and FILEPATH_TDC=#{filepathTdc}
	     </if>
	     <if test="status != null">
			and STATUS=#{status}
	     </if>
	     <if test="ctime != null">
			and CTIME=#{ctime}
	     </if>
	     <if test="mtime != null">
			and MTIME=#{mtime}
	     </if>
	</sql>

	
</mapper> 
